.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px black solid;
}

a:link{
    text-decoration: none;
    color:rgb(68, 35, 99)
}

a:hover{
    color: blue;
}

.header{
    grid-column: 1/4;
}

.title{
    padding: 1em;
}

img{
    position: relative;
    padding-left: 480px;

}

.links{
    /* padding: 1em; */
    list-style-type: none;
    white-space: pre-line;
}

.name{
    letter-spacing: 3px;
    font-weight: 500;
}

.major{
    letter-spacing: 5px;
    font-weight: 400;
}

.bar{
    grid-column: 1/5;
}

.navbar{
    text-align: center;
    border-top: 2px black solid;
}


.parent2{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-gap: 1em;
}


.lang > h2{
    padding-left: 2em;
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: 400;
    text-decoration-thickness: 1.5px;
}
.lang > ul{
    list-style-type: none;
   
}

.proj >h2{
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: 400;
    text-decoration-thickness: 1.5px;
}

.lang > ul > li{
    padding: 1em;
}

h4.p {
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: 400;
    text-decoration-thickness: 1.5px;
}

.proj > .tb{
    padding: 10px;
    border: 2px solid black;
}

.proj > .pong{
    border: 2px solid black;
    padding: 10px;
}

.exp > h2{
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: 400;
    text-decoration-thickness: 1.5px;
}

.exp{
    padding: 1em;
}

.iD > h4{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: 16.5px;
    font-style: italic;
}

.iD > p{
    letter-spacing: 1px;
    font-size: 14px;
}

.iD > ul > li{
    padding: 10px;
}

.SES{
    padding: 1em;
}

.ses > h4{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: 16.5px;
    font-style: italic;
}

.ses > p {
    letter-spacing: 1px;
    font-size: 14px;
}

.ses > ul > li{
    padding: 10px;
}